# Python Files
__pycache__/
.pytest_cache/
.pyc
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
venv/
env/
ENV/
.venv
.env
environnement

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# System files
.DS_Store
Thumbs.db

# Temporary files
*.log
*.csv
output/

# DATA
/DATA

# MLflow local database
mlflow.db

# MLflow runs folder
mlruns/

# Binary files
*.joblib
*.pkl

# Intermediate data
.npy

# Upload to HF script
load_binary_files_to_HF.py

# Models and preprocessing
MODELS/